body{font-family:微软雅黑;}
  td{border-bottom:1px solid black!important;padding:8px 10px;font-size:13px;}
  th{color:black;font-size:13px;}
  caption{color:#752222!important;}
  a.movie_title,td{color:black!important;}
  a{text-decoration:none;}
  option {margin-bottom:8px;}
  a.search{text-decoration:none;}
  tr:hover{background-color:#F8E282;}
  table caption{font-size:16px;color:black;font-weight:bold;}
  table{border-collapse: collapse;margin-bottom:5px;}
  .table_remark{color:black;}
  .title_tip{font-size:12px;}
  .imdb{padding:2px 1px;}
  .search{color:green;}
  th{padding:2px 5px;}
  #remove_tvs{font-size:12px;}
  #select_rank{padding:2px;font-size:13px;font-family:微软雅黑;}
  #rank_div{clear:both;}
  td.ZPD{text-align:center;}
